.main_title_box {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 4px #000000;
}

.main_title {
  font-family: "Hellvetica", "Roboto", "system-ui", "Public Sans", sans-serif;
  color: #ffffff;
  width: 60%;
  text-align: center;
  position: absolute;
  text-shadow: 1px 1px 3px #000000;
}

.main_image {
  width: 100%;
  height: 100%;
  background-image: url("../public/asimo.jpg");
  background-size: cover;
}

.main_box {
  display: flex;
  flex-direction: column;
  background-image: url("../public/backgroundGithub.jpg");
  background-size: cover;
}

.content_box {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title_box {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px #000000;
}

.main_description {
  color: white;
  text-shadow: 1px 1px 3px #000000;
}

.big_card {
  background-color: #ecf0f1;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - var(--ecart));
  height: calc(100% - var(--ecart));
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 20px;
}

.big_card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}

.big_card_text {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.github_image_box {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot_image {
  height: auto;
  width: 100%;
  padding: 10px;
}

.link {
  color: #291287;
  text-decoration: none;
  font-weight: bold;
}
