.main_title_box {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 4px #000000;
}

.main_title {
  font-family: "Hellvetica", "Roboto", "system-ui", "Public Sans", sans-serif;
  color: #ffffff;
  width: 60%;
  text-align: center;
  position: absolute;
  text-shadow: 1px 1px 3px #000000;
}

.main_image {
  width: 100%;
  height: 100%;
  background-image: url("../public/asimo.jpg");
  background-size: cover;
}

.first_title_box {
  background-image: url("../public/iu3.jpg");
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  --ecart: 2.5%;
}

.first_title {
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  text-shadow: 1px 1px 3px #000000;
}

.cards_box {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.little_cards_box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  align-content: space-around;
}

.card {
  background-color: #ecf0f1;
  width: calc(50% - var(--ecart));
  height: calc(50% - var(--ecart));
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  text-align: justify;
  align-items: center;
  padding: 1%;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}

.card_image1 {
  height: 200px;
  padding-right: 5%;
  padding-top: 5%;
}

.card_image2 {
  height: 200px;
  padding-top: 5%;
}

.card_image3 {
  height: 200px;
  padding-top: 5%;
}

.card_image4 {
  height: 200px;
  padding-top: 5%;
}

.big_card_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.big_card {
  background-color: #ecf0f1;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - var(--ecart));
  height: calc(100% - var(--ecart));
  transition: 0.3s cubic-bezier(0, 0, 0.5, 1);
  border: none;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.big_card:hover {
  transform: scale(1.01);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}

.big_card_text {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.robot_image_box {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot_image {
  height: 100%;
  width: auto;
}

.second_title_box {
  background-image: url("../public/iu2.png");
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 40px;
}


